# Dependencies
node_modules/
server/node_modules/

# Environment variables / secrets
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/*
!.vscode/launch.json
.idea/

# Misc
*.tmp
*.bak
